*{
    padding: 0;
    margin: 0;
}
#offering {
    font-size: 14px;
}
.top-bar{
    
    margin-right: 20px; 
}
.top-bar a {
    font-size: 14px;
    display: inline-block;
    color: #000;
    opacity: 0.75;
    text-decoration: unerline;
    padding-top: 10px;
}

.main-search {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.left {
    float: left;
    padding-right: 27px;
}

.right {
    float: right;
    padding-left: 27px;
}

span {
    color: blue;
    font-size: small;
    
}

span:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav {
    text-align: left;
    padding-left: 27px;
    /* width: 100%; */
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
 

}
footer>div>nav{
    margin-right: 20px;
}
.grey-bar {
    text-align: left;
    background: #f2f2f2;
    font-size: 14.5px;
    padding-left: 27px;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    font-family: arial, sans-serif;
    color: #5f6368;
    
}

body {
    width: 100%;
    text-align: center;
}

img {
    margin: auto;
    margin-bottom: 20px;
}

button {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #5f6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    background: #f2f2f2;
    height: 30px;
    border-radius: 3px;
}

input {
    background-color: transparent;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px;
    border-radius: 23px;
    outline: none;
    /* display: flex; */
    margin-top: -37px;
    cursor: auto;
    width: 130%;
    margin-left: -15%;
    margin-bottom: 12px;
    position: relative;
}